@page "/leavetypes/create/"

<h3>Create Leave Type</h3>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<FormComponent ButtonText="Create" LeaveType="leaveType" OnValidSubmit="@CreateLeaveType" />

@code {
    [Inject]
    NavigationManager _navManager { get; set; }
    [Inject]
    ILeaveTypeService _client { get; set; }
    [Inject]
    IToastService toastService { get; set; }
    public string Message { get; private set; }

    LeaveTypeDto leaveType = new LeaveTypeDto();
    async Task CreateLeaveType()
    {
        var response = await _client.CreateLeaveType(leaveType);
        if (response.Success)
        {
            toastService.ShowSuccess("Leave Type created Successfully");
            toastService.ShowToast(ToastLevel.Info, "Test");
            _navManager.NavigateTo("/leavetypes/");
        }
        Message = response.Message;
    }
}
