@page "/leavetypes/details/{id}"

<h3>Details</h3>

<FormComponent LeaveType="leaveType" Disabled="true" />

@code {
    [Inject]
    ILeaveTypeService _client { get; set; }

    [Parameter]
    public string id { get; set; }

    LeaveTypeDto leaveType = new LeaveTypeDto();

    protected async override Task OnParametersSetAsync()
    {
        leaveType = await _client.GetLeaveTypeById(new Guid(id));
    }
}
