<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-logo">ANGULAR_BLOG</div>
        <div>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <p [routerLink]="['/']" class="nav-link">Home</p>
            </li>
            <li class="nav-item">
              <p [routerLink]="['about']" class="nav-link">About</p>
            </li>
            <li class="nav-item">
              <p [routerLink]="['terms-conditions']" class="nav-link">
                Terms & Conditions
              </p>
            </li>
            <li class="nav-item">
              <p [routerLink]="['contact']" class="nav-link">Contact</p>
            </li>
          </ul>
        </div>
        <p class="mb-2 mt-2">Copyright © 2023 Angular Blog</p>
      </div>
    </div>
  </div>
</footer>
