<header class="navbar navbar-expand-lg fixed-top bg-white shadow">
  <div class="container justify-content-center">
    <a href="/" class="site-logo">ANGULAR-BLOG</a>
  </div>

  <div class="container justify-content-center" *ngIf="isLogged">
    <div
      class="d-flex flex-column align-items-center info-container btn btn-sm btn-info bg-theme-secondary text-theme-primary"
      [routerLink]="'/dashboard'"
    >
      Dashboard
    </div>
    <div class="d-flex flex-column align-items-center info-container">
      <span class="mx-3 text-capitalize name">{{ user.name }}</span>
      <a href="#" class="mx-3 email">{{ user.email }}</a>
    </div>
    <button
      class="btn btn-sm btn-info bg-theme-secondary text-theme-primary"
      (click)="onLogout()"
    >
      Logout
    </button>
  </div>

  <div class="container justify-content-center" *ngIf="!isLogged">
    <button
      class="btn btn-sm btn-info bg-theme-secondary text-theme-primary"
      (click)="onLogin()"
    >
      Login
    </button>
  </div>
</header>
