@page "/editinventory/{id:int}"

@inject NavigationManager NavigationManager
@inject IInventoryService InventoryService

<h3>Edit Inventory</h3>
<br />
<EditForm Model="inventory" OnValidSubmit="UpdateInventory">
    <div class="form-group">
        <label for="name">Inventory Name</label>
        <InputText id="name" @bind-Value="inventory.InventoryName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" @bind-Value="inventory.Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price" @bind-Value="inventory.Price" class="form-control" />
    </div>
    <br />
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <br />
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private Inventory inventory = new Inventory() ;

    protected override async Task OnParametersSetAsync()
    {
        inventory = await InventoryService.GetInventoryByIdAsync(this.Id);
    }
    private async Task UpdateInventory()
    {
        await InventoryService.EditEnventoryAsync(inventory);
        NavigationManager.NavigateTo("/inventories");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/inventories");
    }
}
