@page "/inventories"

<h3>InventoryList</h3>
<br/>
<SearchInventoryComponent OnSearchInventory="SearchInventory"></SearchInventoryComponent>
<br />
<InventoryListComponent SearchTerm="@searchTerm"></InventoryListComponent>

@code {
    private string searchTerm = string.Empty;
    private void SearchInventory(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }
}
