<div class="container">
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card shadow" routerLink="categories">
        <div class="card-body text-center bg-theme-secondary">
          <h1 class="mt-3 text-theme-primary">
            <i class="fas fa-clipboard-list"></i>
          </h1>
          <h2 class="text-theme-primary">Categories</h2>
          <p>Manage Your Category Details Here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow" routerLink="posts">
        <div class="card-body text-center bg-theme-secondary">
          <h1 class="mt-3 text-theme-primary">
            <i class="fas fa-file-invoice"></i>
          </h1>
          <h2 class="text-theme-primary">Posts</h2>
          <p>Manage Your Post Details Here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card shadow" routerLink="subscribers">
        <div class="card-body text-center bg-theme-secondary">
          <h1 class="mt-3 text-theme-primary">
            <i class="fas fa-users"></i>
          </h1>
          <h2 class="text-theme-primary">Subscribers</h2>
          <p>Manage Your Subscriber list Here</p>
        </div>
      </div>
    </div>
  </div>
</div>
