<div class="course-container">
    <div class="mat-elevation-z8 course-sub_container">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>All Courses</span>
                <span class="spacer"></span>
                <button
                    mat-mini-fab
                    matTooltip="Create new Course"
                    color="accent"
                    (click)="openDialog()"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="deptForm">
            <mat-form-field appearance="fill">
                <mat-label>Department</mat-label>
                <mat-select
                    (ngModelChange)="getCourseByDept($event)"
                    disableRipple
                    formControlName="departmentId"
                >
                    <mat-option
                        *ngFor="let data of deptData"
                        [value]="data?.id"
                    >
                        {{ data?.code }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <div class="course-table-container">
            <table mat-table [dataSource]="dataSource">
                <!-- Code Column -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>Code</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.code }}
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="semester">
                    <th mat-header-cell *matHeaderCellDef>Semester</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element?.semesterCourse[0]?.semester?.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="assigned">
                    <th mat-header-cell *matHeaderCellDef>Assigned To</th>
                    <td mat-cell *matCellDef="let element">
                        {{
                            element?.assignedCourse?.teacher?.name
                                ? element?.assignedCourse?.teacher?.name
                                : "Not Assigned Yet"
                        }}
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button
                            mat-icon-button
                            color="primary"
                            (click)="editCourse(element)"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="deleteCourse(element)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>
        <mat-paginator
            [pageSizeOptions]="[5, 10, 20, 50, 100]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
        >
        </mat-paginator>
    </div>
</div>
