<div class="card shadow">
  <div class="border p-4 d-flex justify-content-center mb-4 card-body">
    <form
      id="form"
      class="text-center text-theme-primary"
      style="width: 100%; max-width: 300px"
    >
      <h2>Contact us</h2>

      <div class="mb-4">
        <input
          mdbInput
          type="text"
          id="name"
          class="form-control"
          placeholder="Name"
        />
      </div>
      <div class="mb-4">
        <input
          mdbInput
          type="email"
          id="email"
          class="form-control"
          placeholder="Email"
        />
      </div>
      <div class="mb-4">
        <input
          mdbInput
          type="text"
          id="Subject"
          class="form-control"
          placeholder="subject"
        />
      </div>
      <div class="mb-4">
        <textarea
          mdbInput
          class="form-control"
          id="message"
          rows="4"
          placeholder="Message"
        ></textarea>
      </div>
      <button type="button" class="btn btn-info btn-theme my-4">Send</button>
    </form>
  </div>
</div>
