@page "/"

<h4>Basic Button</h4>

@thankYouString

<h4>Styled Buttons</h4>



<h4>Buttons with icons and images</h4>

<h4>Disabled Button</h4>

@code {
    string thankYouString;

    protected void MyClickHandler()
    {
        thankYouString = string.Format("Thank you for clicking me at {0:HH:mm:ss} on {0:dd MMM yy}. Now you can write front-end with C#, yay!", DateTime.Now);
        StateHasChanged();
    }
}

<style>
    .red-text {
        color: red;
    }

    .netherlands-flag {
        background-position: 0 -64px;
        vertical-align: middle;
        height: 16px;
        width: 16px;
        display: inline-block;
    }

    .snowboarding img {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }
</style>