<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Conditions</h1>
    <div class="p-5 mt-4 bg-theme-secondary text-theme-primary">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque a
        veniam facilis officiis aspernatur illum, alias culpa! Eligendi nobis
        reprehenderit aliquam quia facilis placeat dolore maiores doloribus nam
        est debitis saepe illo nihil, reiciendis deleniti vero. Sint suscipit
        beatae quaerat delectus non odit quis perspiciatis at excepturi hic quas
        rem corporis culpa, nesciunt ullam dicta nostrum, ab rerum ad tenetur
        esse natus in? Dolor, alias quasi magnam ab cumque necessitatibus
        debitis nisi rem animi odio quod ad ea esse consectetur quisquam! Sequi,
        velit voluptates? Magni minima in quod similique laborum!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem rem
        iusto consectetur neque doloribus, aut quis dolorum veritatis id fugiat
        ducimus culpa, fuga accusamus aspernatur quisquam blanditiis. Atque
        fugit dolor delectus recusandae dolorem alias enim voluptatum quas
        inventore maiores distinctio voluptatem numquam quasi nihil laboriosam
        doloribus, ad aliquid, amet neque odit dolore minima dolores est.
        Repellat repellendus sit optio quibusdam voluptas. Hic dolor dolores
        laboriosam, blanditiis consequuntur tempora! Quisquam reiciendis magni
        omnis molestiae quis distinctio dolorum harum recusandae possimus
        laborum laboriosam voluptatibus est minus pariatur commodi optio, ipsam
        aliquam sapiente rem non id cumque, temporibus voluptates obcaecati?
        Dolorum, quae est?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rem velit
        quos asperiores commodi quae saepe nobis quo sunt. Minima amet velit
        perferendis recusandae quo dolorem libero ducimus similique, vel
        consequatur vitae rem eum aspernatur deserunt labore quia nemo
        voluptates impedit soluta mollitia laudantium. Autem, eius earum natus
        nobis ut odio. Ab ducimus architecto quam minus, ipsam saepe illum
        repellendus pariatur aut. Repudiandae, placeat sit quod doloremque
        corporis dolor earum voluptatum facere. Rerum explicabo doloribus
        cupiditate ab delectus. Repellat assumenda ratione ipsum facilis
        voluptates voluptas excepturi perspiciatis provident ullam doloribus!
      </p>
      <div class="text-center">
        <button [routerLink]="['/']" class="btn btn-info btn-sm mt-4 btn-theme">
          Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
