<div class="main-container">
    <div class="nav-container">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="department">Department</a></li>
            <li><a routerLink="student">Student</a></li>
            <li><a routerLink="teacher">Teacher</a></li>
            <li><a routerLink="course">Course</a></li>
            <li><a routerLink="course-assign">Assign Course</a></li>
            <li><a routerLink="allocate-room">Allocate Classroom</a></li>
            <li><a routerLink="schedule">Schedule</a></li>
            <li><a routerLink="enroll">Enroll</a></li>
            <li><a routerLink="results">Results</a></li>
        </ul>
    </div>
    <div class="component-container">
        <router-outlet></router-outlet>
    </div>
</div>
