<h1 mat-dialog-title>{{ formName }}</h1>
<div mat-dialog-content>
    <form [formGroup]="teacherForm">
        <mat-form-field>
            <mat-label>Full name</mat-label>
            <input formControlName="name" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <textarea
                formControlName="address"
                matInput
                placeholder="Ex. 100 Main St"
            ></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input
                type="email"
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com"
            />
            <mat-error
                *ngIf="
                    emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required')
                "
            >
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contact No</mat-label>
            <input
                type="tel"
                pattern="[0-9]{11}"
                formControlName="contactNo"
                matInput
            />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Designation</mat-label>
            <mat-select disableRipple formControlName="designationId">
                <mat-option *ngFor="let data of desData" [value]="data.id">
                    {{ data.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select disableRipple formControlName="departmentId">
                <mat-option *ngFor="let data of deptData" [value]="data.id">
                    {{ data.code }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Credit To Be Taken</mat-label>
            <input type="number" formControlName="creditToBeTaken" matInput />
        </mat-form-field>
    </form>
    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button mat-raised-button color="primary" (click)="formAction()">
            {{ actionButton }}
        </button>
    </div>
</div>
