@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <InventoryListItemComponent Inventories="@inventories"></InventoryListItemComponent>
    </tbody>
</table>

@code {
    private List<Inventory> inventories = new List<Inventory>();
    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(SearchTerm)).ToList();
    }
}
