<div class="input-group">
    <input type="text" class="form-control" placeholder="Type inventory name to search..." @bind-value="search"/>
    <button type="button" class="btn-success input-group-text" @onclick="OnSearch">Search</button>
</div>

@code {
    private string search = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchInventory{ get; set; }

    private void OnSearch()
    {
        OnSearchInventory.InvokeAsync(search);
    }
}
