<app-header></app-header>

<div class="app-body">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card p-5 shadow bg-theme-secondary">
          <div class="card-body">
            <div class="text-center">
              <h3 class="text-theme-primary">Sign Up</h3>
              <p>Please create an account to login.</p>
            </div>
            <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm.value)">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control my-3"
                  placeholder="Full Name"
                  name="name"
                  #Name="ngModel"
                  ngModel
                  required
                  [ngClass]="{ 'is-invalid': Name.touched && Name.invalid }"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="Name.touched && Name.invalid"
                >
                  <div *ngIf="Name.errors && Name.errors['required']">
                    Name cannot be Empty.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                  #Email="ngModel"
                  ngModel
                  required
                  email
                  [ngClass]="{ 'is-invalid': Email.touched && Email.invalid }"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="Email.touched && Email.invalid"
                >
                  <div *ngIf="Email.errors && Email.errors['required']">
                    Email cannot be Empty.
                  </div>
                  <div *ngIf="Email.errors && Email.errors['email']">
                    Invalid Email.
                  </div>
                </div>
              </div>
              <div class="form-group my-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  #Password="ngModel"
                  ngModel
                  required
                  [ngClass]="{
                    'is-invalid': Password.touched && Password.invalid
                  }"
                />
                <div
                  class="alert alert-danger"
                  *ngIf="Password.touched && Password.invalid"
                >
                  Password cannot be Empty.
                </div>
                <div class="form-group my-3">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password"
                    name="confirmPassword"
                    #ConfirmPassword="ngModel"
                    ngModel
                    required
                    [ngClass]="{
                      'is-invalid':
                        ConfirmPassword.touched && ConfirmPassword.invalid
                    }"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="ConfirmPassword.touched && ConfirmPassword.invalid"
                  >
                    Confirm Password cannot be Empty.
                  </div>
                </div>
              </div>
              <button
                class="btn btn-info w-100 btn-theme"
                [disabled]="signupForm.invalid"
              >
                Signup
              </button>
            </form>
            <p class="my-2">
              Already have an account?<span
                class="mx-0.5 link"
                routerLink="/login"
                >Login</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
