@page "/payment-cancel"

<div class="container m-5 p-5">
	<div class="row">
		<div class="col-lg-6 offset-3">
			<div class="alert alert-danger text-center">Payment Canceled</div>
		</div>
	</div>
</div>