<h1 mat-dialog-title>{{ formName }}</h1>
<div mat-dialog-content>
    <form [formGroup]="deptForm">
        <mat-form-field hintLabel="Max 7 characters" appearance="fill">
            <mat-label>Code</mat-label>
            <input
                formControlName="code"
                matInput
                #codeInput
                minlength="2"
                maxlength="7"
                placeholder="Ex. CSE-001"
            />
            <mat-hint align="end">{{ codeInput.value.length }}/7</mat-hint>
        </mat-form-field>
        <mat-form-field hintLabel="Max 50 characters" appearance="fill">
            <mat-label>Name</mat-label>
            <input
                formControlName="name"
                matInput
                #nameInput
                maxlength="50"
                placeholder="Ex. Computer Science Engineering"
            />
            <mat-hint align="end">{{ nameInput.value.length }}/50</mat-hint>
        </mat-form-field>
    </form>
    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button mat-raised-button color="primary" (click)="formAction()">
            {{ actionButton }}
        </button>
    </div>
</div>
