<div class="card shadow" *ngIf="postData" [routerLink]="['/post', postData.id]">
  <img src="{{ postData.heroImg }}" alt="post card" class="card-img-top" />
  <div class="card-body">
    <small class="bg-light text-danger text-center">{{
      postData?.category?.name
    }}</small>
    <small class="bg-light text-success text-center mx-3">{{
      postData?.isFeatured ? "Featured" : ""
    }}</small>
    <small class="bg-light text-info text-center"
      >Views - {{ postData?.views }}</small
    >

    <h5 class="mt-1">{{ postData.title }}</h5>
    <p>
      {{ postData.excerpt }}
    </p>

    <small class="bg-light text-warning text-center ml-3">
      Last Update - {{ postData?.createdAt | date }}
    </small>
  </div>
</div>
