<div class="container">
	<div class="header_section_top">
		<div class="row">
			<div class="col-sm-12">
				<div class="custom_menu">
					<ul>
						<li><a href="">Store Home</a></li>
						<li><a href="admin">Home</a></li>
						<li><a href="auth/logout" class="text-danger">Logout</a></li>
						<li><a href="product">Products</a></li>
						<li><a href="category">Categories</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
